html,
body {
  height: 100%;
  width: 100%;
  background-color: lightsteelblue;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.listPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 0.7em;
}

.format {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border-radius: 0.7em;
}

.margin {
  margin: 2em;
}

.tableList {
  width: 15em;
  margin: 2em;
}

.addButton {
  border: 1px solid grey;
}
