html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: lightsteelblue;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: lightsteelblue;
}

.listPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightsteelblue;
}

.margin {
  margin: 2em;
}

.tableList {
  width: 15em;
  margin: 2em;
}

.addButton {
  border: 1px solid grey;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 3em;
  height: 2em;
}

.input {
  border-radius: 0 0.7em 0.7em 0.7em;
  width: 10em;
}
